In [131]:
import pandas as pd

In [132]:
df1 = pd.read_csv("df1.xls")

In [133]:
df1

,ab,abdul,abil,abl,abov,abreast,absenc,absent,abstract,ac,...,yearli,yield,yii,yogi,yonder,york,yr,zenefit,zero,zp
0,0.0,0.0,0.000000,0.0,0.030927,0.0,0.000000,0.0,0.064627,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.000000,0.0,0.026528,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.000000,0.0,0.036622,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.167542,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.030017,0.0,0.031585,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,0.0,0.0,0.015442,0.0,0.000000,0.0,0.022965,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
75,0.0,0.0,0.016513,0.0,0.000000,0.0,0.171912,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
76,0.0,0.0,0.000000,0.0,0.000000,0.0,0.021975,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
77,0.0,0.0,0.035647,0.0,0.000000,0.0,0.053014,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
78,0.0,0.0,0.023826,0.0,0.000000,0.0,0.035434,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0

In [134]:
label = pd.read_csv("label.xls")

In [135]:
label

    category_encoded
0                  0
1                  0
2                  2
3                  2
4                  2
..               ...
74                 4
75                 4
76                 4
77                 4
78                 4

[79 rows x 1 columns]

In [136]:
df1 = df1.reset_index(drop=True)
label = label.reset_index(drop=True)
df1['label'] = label

In [137]:
df1

,ab,abdul,abil,abl,abov,abreast,absenc,absent,abstract,ac,...,yield,yii,yogi,yonder,york,yr,zenefit,zero,zp,label
0,0.0,0.0,0.000000,0.0,0.030927,0.0,0.000000,0.0,0.064627,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0
1,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0
2,0.0,0.0,0.000000,0.0,0.026528,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,2
3,0.0,0.0,0.000000,0.0,0.036622,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.167542,0.0,0.0,0.0,0.0,0.0,2
4,0.0,0.0,0.030017,0.0,0.031585,0.0,0.000000,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,0.0,0.0,0.015442,0.0,0.000000,0.0,0.022965,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,4
75,0.0,0.0,0.016513,0.0,0.000000,0.0,0.171912,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,4
76,0.0,0.0,0.000000,0.0,0.000000,0.0,0.021975,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,4
77,0.0,0.0,0.035647,0.0,0.000000,0.0,0.053014,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,4
78,0.0,0.0,0.023826,0.0,0.000000,0.0,0.035434,0.0,0.000000,0.0,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,4

In [138]:
df = pd.read_csv("df.xls")

In [139]:
df

,ab,abdul,abil,abl,abov,abreast,absenc,absent,abstract,ac,...,yearli,yield,yii,yogi,yonder,york,yr,zenefit,zero,zp
0,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
4,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75,0,0,1,0,0,0,7,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
78,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [140]:
df = df.reset_index(drop=True)
label = label.reset_index(drop=True)
df['label'] = label

In [141]:
df

,ab,abdul,abil,abl,abov,abreast,absenc,absent,abstract,ac,...,yearli,yield,yii,yogi,yonder,york,yr,zenefit,zero,zp
0,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
4,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
75,0,0,1,0,0,0,7,0,0,0,...,0,0,0,0,0,0,0,0,0,0
76,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
78,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [142]:
df['label']

0     0
1     0
2     2
3     2
4     2
     ..
74    4
75    4
76    4
77    4
78    4
Name: label, Length: 79, dtype: int64

In [143]:
# Assuming 'df' is your DataFrame and 'column_name' is the name of the column
column_name = 'label'

# Pop the column and store it in a variable
column = df.pop(column_name)

# Insert the column at the end of the DataFrame
df.insert(len(df.columns), column_name, column)

In [144]:
df

,ab,abdul,abil,abl,abov,abreast,absenc,absent,abstract,ac,...,yield,yii,yogi,yonder,york,yr,zenefit,zero,zp,label
0,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,2
4,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,4
75,0,0,1,0,0,0,7,0,0,0,...,0,0,0,0,0,0,0,0,0,4
76,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,4
77,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,4
78,0,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,4

In [145]:
import warnings
warnings.filterwarnings('ignore')

In [146]:
# splitting

In [147]:
from sklearn.model_selection import train_test_split
x = df1.drop(['label'], axis=1)
y = df1['label']
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [148]:
x_train

,ab,abdul,abil,abl,abov,abreast,absenc,absent,abstract,ac,...,yearli,yield,yii,yogi,yonder,york,yr,zenefit,zero,zp
73,0.0,0.0,0.011591,0.0,0.000000,0.0,0.051716,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0837,0.000000,0.0
61,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0000,0.000000,0.0
55,0.0,0.0,0.026931,0.0,0.000000,0.0,0.000000,0.000000,0.059217,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0000,0.000000,0.0
40,0.0,0.0,0.000000,0.0,0.025730,0.0,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0000,0.058856,0.0
9,0.0,0.0,0.121662,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0000,0.000000,0.0
60,0.0,0.0,0.014717,0.0,0.000000,0.0,0.021887,0.035424,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.070848,0.0000,0.000000,0.0
71,0.0,0.0,0.013042,0.0,0.000000,0.0,0.096980,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0000,0.000000,0.0
14,0.0,0.0,0.055046,0.0,0.019307,0.0,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0000,0.000000,0.0
51,0.0,0.0,0.000000,0.0,0.027185,0.0,0.000000,0.000000,0.000000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0000,0.000000,0.0

In [149]:
y_train

73    4
61    4
55    3
40    1
9     2
     ..
20    2
60    4
71    4
14    2
51    3
Name: label, Length: 63, dtype: int64

# Decision Tree Classifier

In [150]:
#Hyperparameter Tuning

In [151]:
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
# Define the Decision Tree classifier
dt_classifier = DecisionTreeClassifier()
# Define the hyperparameters to tune
param_grid = {
    'criterion': ['gini', 'entropy'],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}
# Perform grid search with 5-fold cross-validation
grid_search = GridSearchCV(dt_classifier, param_grid, cv=5)
grid_search.fit(x_train, y_train)

# Print the best hyperparameters
print("Best Hyperparameters:", grid_search.best_params_)

# Evaluate the best model on the test set
best_dt = grid_search.best_estimator_
y_pre = best_dt.predict(x_test)
accuracy_best = accuracy_score(y_test,y_pre)
print("Accuracy (Best Model):", accuracy_best)

Best Hyperparameters: {'criterion': 'gini', 'max_depth': 30, 'min_samples_leaf': 4, 'min_samples_split': 5}
Accuracy (Best Model): 0.9375

In [152]:
from sklearn.tree import DecisionTreeClassifier
model_DT=DecisionTreeClassifier(criterion='gini',max_depth=None, min_samples_split=2, min_samples_leaf=4)
model_DT.fit(x_train,y_train)

DecisionTreeClassifier(min_samples_leaf=4)

In [153]:
from sklearn.metrics import classification_report
clr=classification_report(y_test,y_pre)
print(clr)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         1
           1       1.00      1.00      1.00         5
           2       0.83      1.00      0.91         5
           3       1.00      1.00      1.00         2
           4       1.00      1.00      1.00         3

    accuracy                           0.94        16
   macro avg       0.77      0.80      0.78        16
weighted avg       0.89      0.94      0.91        16

# Bagging Classifier

In [154]:
#cross-validation

In [155]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import BaggingClassifier

# Define the base classifier
base_classifier = DecisionTreeClassifier()
# Initialize the Bagging Classifier with the chosen number of estimators
bagging_clf = BaggingClassifier(base_classifier, n_estimators=50, random_state=42)

# Perform 5-fold cross-validation
scores = cross_val_score(bagging_clf, x_train, y_train, cv=5)

# Print the cross-validation scores
print("Cross-Validation Scores:", scores)
print("Accuracy:", scores.mean())

Cross-Validation Scores: [1.         1.         0.92307692 0.91666667 1.        ]
Accuracy: 0.9679487179487178

In [156]:
#GridSearchCV

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import BaggingClassifier
from sklearn.tree import DecisionTreeClassifier

# Define the base classifier (e.g., Decision Tree)
base_classifier = DecisionTreeClassifier(random_state=42)

# Initialize the Bagging Classifier
bagging_clf = BaggingClassifier(base_classifier, random_state=42)

# Define the grid of hyperparameters to search over
param_grid = { 
    'n_estimators': [10, 50, 100],
    'max_samples': [0.5, 0.8, 1.0],
    'max_features': [0.5, 0.8, 1.0]
}

# Perform grid search with 5-fold cross-validation
grid_search = GridSearchCV(bagging_clf, param_grid, cv=5)
grid_search.fit(x_train, y_train)

# Print the best hyperparameters
print("Best Hyperparameters:", grid_search.best_params_)

# Evaluate the best model on the test set
best_clf = grid_search.best_estimator_
y_pred_gd = best_clf.predict(x_test)
accuracy_best = accuracy_score(y_test, y_pred_gd)
print("Accuracy (Best Model):", accuracy_best)

In [ ]:
clr_bagging=classification_report(y_test,y_pred_gd)
print(clr_bagging)

# AdaBoost Classifier

In [ ]:
from sklearn.ensemble import AdaBoostClassifier
base_classifier = DecisionTreeClassifier(max_depth=1, random_state=42)

adaboost_clf = AdaBoostClassifier(base_classifier, n_estimators=50, random_state=42)
#Train the Ada Boost Classifier Classifier on the training data
adaboost_clf.fit(x_train, y_train)
# Make predictions on the testing data
y_pred_adaboost = adaboost_clf.predict(x_test)

# Calculate the accuracy of the AdaBoost Classifier
accuracy_adaboost = accuracy_score(y_test, y_pred_adaboost)
print("Accuracy (AdaBoost Classifier):", accuracy_adaboost)

In [ ]:
clr_ada=classification_report(y_test,y_pred_adaboost)
print(clr_ada)

# Gradient Boosting Classifier

In [ ]:
# Initialize the Gradient Boosting Classifier
from sklearn.ensemble import GradientBoostingClassifier
gb_clf = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1, max_depth=3, random_state=42)

# Train the Gradient Boosting Classifier on the training data
gb_clf.fit(x_train, y_train)

# Make predictions on the testing data
y_pred_gb = gb_clf.predict(x_test)

# Calculate the accuracy of the Gradient Boosting Classifier
accuracy_gb = accuracy_score(y_test, y_pred_gb)
print("Accuracy (Gradient Boosting Classifier):", accuracy_gb)

In [ ]:
clr_gb=classification_report(y_test,y_pred_gb)
print(clr_gb)

# Naive Bayes Classifier

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

# Initialize the Naive Bayes Classifier
nb_clf = MultinomialNB()

# Train the Naive Bayes Classifier on the training data
nb_clf.fit(x_train, y_train)

# Make predictions on the testing data
y_pred_nb = nb_clf.predict(x_test)

# Calculate the accuracy of the Naive Bayes Classifier
accuracy_nb = accuracy_score(y_test, y_pred_nb)
print("Accuracy (Naive Bayes Classifier):", accuracy_nb)

In [ ]:
clr_nb=classification_report(y_test,y_pred_nb)
print(clr_nb)

In [ ]:
# svm

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC

# Define the SVM classifier
svm_classifier = SVC()

# Define the hyperparameters to tune
param_grid = {
    'C': [0.1, 1, 10, 100],
    'gamma': [1, 0.1, 0.01, 0.001],
    'kernel': ['linear', 'rbf', 'poly', 'sigmoid']
}

# Perform grid search with 5-fold cross-validation
grid_search = GridSearchCV(svm_classifier, param_grid, cv=5)
grid_search.fit(x_train, y_train)

# Print the best hyperparameters
print("Best Hyperparameters:", grid_search.best_params_)

# Evaluate the best model on the test set
best_svm = grid_search.best_estimator_
y_pre_sv = best_svm.predict(x_test)
accuracy_best = accuracy_score(y_test,y_pre_sv)
print("Accuracy (Best Model):", accuracy_best)

In [ ]:
clr_sv=classification_report(y_test,y_pre_sv)
print(clr_sv)